# Jupyter
.ipynb_checkpoints/
*.ipynb

# Python
__pycache__/
*.py[co]

# Conda/pip
env/
venv/
.conda/
pip-wheel-metadata/

# Данные (большие файлы)
data/*.csv
data/*.xlsx
data/*.parquet
data/*.h5
data/*.npy

# IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Логи
*.log
*.tmp



# Чувствительные данные
.env
secrets.json
config.yaml
